
$dark-grey: #a9a9a9;
$dark-blue: #0b4c5f;
$light-blue: #266679;

$dialog-submit: white;
$dialog-submit-hover: #ba4412;
$dialog-text: $dark-blue;
$dialog-bg-active: $dark-blue;
$dialog-bg-inactive: $dark-grey;
$dialog-text-active: white;
$dialog-text-inactive: black;
$dialog-reverse-text-active: $dark-blue;

$portfolio-background-default: #f9f9f9;
$portfolio-background-no-user: #d9d9d9;