@import "base";

#content-upload-form-wrapper {
    height: 450px;
}

.content-description {
    padding-left: 75px;
    padding-right: 75px;
}

.course-img i.fa-10x {
    font-size: 10em;
}

.course-tag {
    margin: 2px 0 0 0;
    padding: 2px 0 0 0;
}

.course-tag-label {
    background: $light-blue;
    border-radius: 10px;
    padding: 2px 10px;
    color: white;
}
