@import "base";
@import "dialog-base";

.register-login-form
{

}

#login-form
{
    z-index: 1;
}

.register-form-active
{
    z-index: 2;
}

.login-tab
{
    left: 0;
    top: 50px;
    height: 40px;
    width: 173px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
}

.register-tab
{
    position: absolute;
    right: 0;
    top: 50px;
    height: 40px;
    width: 173px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
}


