
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #337aa8;
}

a:hover, a:focus {
    color: #4b8ab2;
}

.container {
    margin: 5% 3%;
}

p {
    padding: 2%;
}
