.form-background {
    position: relative;
    background-color: #A0BDD1;
    border: 0.4rem solid #30719D;
    border-radius: 1rem;
    margin: 0 auto;
    width: 50%;
    height: 25rem;
}

.input{
    width: 12rem;
    height: 2.25rem;
    margin-bottom: 1.25rem
}

.form-box{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

#submit {
    display: block;
    margin: 0 auto;
    width: 5rem;
    border: 0.1rem solid #30719D;
    font-family: verdana;
    font-size: 1rem;
}
